
<h1 class="title">STUPID COACHING</h1>

<p> Ask your Coach anything, go:</p>

<form class="form" action="/answer">
  <input class="btn1" type="text" name="question">
  <input class="btn2" type="submit" value="Ask!">
</form>
