// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
  font-family: Arial;
  font-weight: lighter;
  text-align: center;
}

.form {
  text-align: center;
}

.btn2 {
  color: white;
  background: #3D7EF0;
  font-size: 15px;
  border-radius: 2px;
  padding: 5px;
}

p {
  font-family: Arial;
  text-align: center;
}

body {
  background: #F3F3F3;

}

.btn {
  font-size: 15px;
  border-radius: 2px;
  padding: 5px;
}
